* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo-container .logo-anchor .logo {
  width: 70px;
  height: 36px;
}

.search-box {
  height: 100%;
  width: 36%;
  background-color: #fff;
  display: inline-block;
  border-radius: 10px;
}

.search-icon {
  width: 40px;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  float: left;
}

.search-input {
  font-size: 16px;
  height: 100%;
  -webkit-appearance: textfield;
  border: 0;
  outline: none;
  display: inline-block;
  width: calc(100% - 40px);
  padding-left: 16px;
  background-color: rgba(0, 0, 0, 0);
}

.carouse-Base {
  width: 100vw;
  height: auto;
}

.carouse-Base .carouse-Base-img {
  width: 100vw;
  height: auto;
}

.main-card--container {
  width: 100vw;
}

.main-card--container .card-contaner {
  width: 100%;
  padding-left: 60px;
  padding-right: 30px;
}

.main-card--container .card-contaner .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-img {
  width: 204px;
  height: auto;
}

.title-banner {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 80px 0px;
  max-height: 5em;
  font-weight: 600;
}

/* add product */

.form-container {
  width: 100%;
  padding: 0 75px;
}

.homepage-cards {
  padding-top: 18px;
  padding-bottom: 12px;
  border-top: 1px solid grey;
  margin-top: 5px;
}

.homepage-card {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.homepage-card .collectionType {
  display: block;
  font-size: 20px;
  margin-bottom: 12px;
}

.homepage-card .collectionType select {
  width: 1000px;
  height: 40px;
  font-size: 17px;
  border-radius: 7px;
  border: 1.5px solid black;
  margin-bottom: 30px;
}

.homepage-card>.urlCon {
  display: flex;
  align-items: center;
}

.form-control {
  width: 400px;
  height: 44px;
  margin-left: 20px;
  font-size: 1rem;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1.4px solid #ced4da;
  border-radius: 0.50rem;
  outline: none;
}

.form-control[type=file] {
  overflow: hidden;
  display: none;
}

.collectionsImage {
  width: 140px;
  height: 140px;
}

.collectionsImage>img {
  height: 100%;
  border: 1px dashed;
  border-radius: 5px;
}

.file-control,.imagefile  {
  position: relative;
  width: 140px;
  height: 140px;
  display: inline-block;
  border: 1px dashed black;
  border-radius: 5px;
}

.file-control>img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
}
.imagefile>img  {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

label.file-control:before {
  content: '+ Seclect';
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.editImgBtn {
  position: absolute;
  right: 0;
  bottom: 0px;
  z-index: 1;
  height: 20px;
  width: 20px;
}
.hedden {
  display: none;
}


.error-msg {
  color: red;
}

.url {
  width: 300px;
  height: 30px;
  border: 1.4px solid black;
  border-radius: 7px;
}

.show {
  display: block !important;
}

/* products */

.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.products-container .product-card {
  width: 210px;
  height: 280px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  box-shadow: 1px 0px 35px #e4e4e4;
  position: relative;
}

.products-container .product-card .product-img {
  width: 100%;
  height: 200px;
}

.products-container .product-card .product-img img {
  height: 100%;
  width: 100%;
}

.products-container .product-card .product-brand {
  display: block;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
}

.products-container .product-card .product-name {
  display: block;
  width: 100%;
  margin-top: 5px;
  color: #535766;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

.products-container .product-card .product-price {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.products-container .product-card .addcart-btn {
  background-color: #f57224;
  color: #fff;
  border: hidden;
  cursor: pointer;
  width: 100%;
  padding: 10px 14px;
  margin-top: 5px;
  margin-bottom: 2px;
  outline: none;
}

/* add Product */

.add-Product-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.add-Product-container h2 {
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.add-Product-container .add-Product-form {
  width: 850px;
  height: 44px;
  font-size: 1.2rem;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1.4px solid #ced4da;
  border-radius: 0.5rem;
  outline: none;
  display: flex;
  margin-top: 22px;
}

.form-group {
  margin: auto;
}

.add-Product-btn {
  padding: 7px 30px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  margin-left: 20px;
  /* box-shadow: 0 9px #999; */
}

/* .add-Product-btn:hover {background-color: #3e8e41}
    
    .add-Product-btn :active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px); */

/* } */

/* admin component */

.add-Product-btn a {
  color: white;
  text-decoration: none;
}

.admin-container {
  display: flex;
  flex-wrap: wrap;
}

.side-navigation-panel {
  background: rgba(52, 58, 64, 0.97);
  color: #fff;
  padding: 10px;
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  max-width: 312px;
}

.absolute-right {
  flex-grow: 8;
  height: 100vh;
  overflow-y: scroll
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #343a40;
  color: #fff;
  transition: all 0.3s;
  max-height: 100vh;
  /* overflow-y: hidden; */
}

#sidebar>.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 8px 5px 8px 7px;
  background: #343a40;
  min-height: 70px;
}

#sidebar .navbar .nav-link, #sidebar .navbar .nav-link:hover, #sidebar .navbar .nav-link:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar .navbar .nav-link {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar .navbar .nav-link:hover {
  color: rgba(52, 58, 64, 0.97);
  background: #fff;
}

#sidebar .navbar-nav {
  width: 100%;
}

#sidebar .navbar-nav .navbar-nav .nav-link {
  padding-left: 32px;
}

.name-icon {
  background-color: #17a2b8;
  border-radius: 50%;
  float: left;
  height: 52px;
  line-height: 52px;
  margin-right: 8px;
  text-align: center;
  width: 52px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  border: 1px solid #06282d;
}

.name-icon-details {
  vertical-align: text-top;
  display: inline-block;
  max-width: 174px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.name-icon-details a {
  color: #17a2b8;
}

.pl0 {
  padding-left: 0 !important;
}

.max-hight {
  max-height: 100vh !important;
}

.pr0 {
  padding-right: 0 !important;
}

.mhfvh {
  min-height: 100vh;
}

.ofya {
  overflow-y: auto;
}

.productImageWidth {
  width: 70px;
}

tr#allProducts:hover {
  background-color: #f1f2f3;
}

.mlbtn {
  margin-left: 10px;
}

.mrbtn {
  margin-right: 10px;
}